
.property-review-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.property-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.carousel-container-1 {
  max-width: 600px;
  margin-right: 20px;
}

.slide-container-1 {
  border-radius: 8px;
  overflow: hidden;
}

.image-holder-1 {
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.details-info {
  margin-top: 20px;
  text-align: center;
  border: 2px solid #c3c5c1;
  border-radius: 10px;
}
.Odetails {
  background-color: #dfdfdf;
  border-radius: 10px;
}

.reviews-section {
  margin-top: 20px;
  text-align: center;
}

.reviews-section ul {
  list-style-type: none;
  padding: 0;
}

.reviews-section li {
  margin-bottom: 20px;
  border: 1px solid #dddfdb;
  padding: 10px;
  border-radius: 8px;
  background-color: #dddfdb;
}

.reviews-section p {
  margin: 5px 0;
  width: 1300px;
}

.review-form {
  margin-top: 20px;
  text-align: center;
  width: 1300px;
}

.review-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #b8b3b3;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f1efef;
  height: 50px;
}

.review-form select {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.review-form button {
  background-color: #3A5B22;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
}

.loading {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.back-arrow {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease;
  padding: 30px;
}

.back-arrow:hover {
  color: #555;
}

.arrow-icon {
  margin-right: 5px;
}

.review-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}

.star-icon {
  color: #FDD835; 
}
